<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar CRUD</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script>
            function deleteData(id) {
                fetch('/hapus', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: id })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    alert("Data has been deleted");
                    window.location.reload();
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
</head>

<body>
    <% if (user) { %>
    <div class="container">
        <h1>
            <%= "Belajar CRUD" %>
        </h1>        
        <ul>

        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">no</th>
                    <th scope="col">nama</th>
                    <th scope="col">umur</th>
                    <th scope="col">premis</th>
                    <th scope="col">aksi</th>
                    <th scope="col">edit</th>
                </tr>
            </thead>
            <tbody>
                <% for (let rpul of users) { %>
                    <tr>
                        <th scope="row">
                            <%= rpul.id %>
                        </th>
                        <th scope="row">
                            <%= rpul.no %>
                        </th>
                        <th scope="row">
                            <%= rpul.nama_lengkap %>
                        </th>
                        <th scope="row">
                            <%= rpul.umur %>
                        </th>
                        <th scope="row">
                            <%= rpul.premis %>
                        </th>
                        <th>
                            <form id="deleteForm" onsubmit="deleteData('<%= rpul.id %>'); return false;">
                                <input type="hidden" name="id" value="<%= rpul.id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>                            
                        </th>
                        <th>
                            <a href="/edit/<%= rpul.id %>" class="btn btn-primary">Edit</a>
                        </th>                        
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <form action="/tambah" method="post">
            <h3>TAMBAH DATA</h3>
            <div class="row mb-3">
                <label for="no" class="col-sm-2 col-form-label">no</label>
                <div class="col-sm-10">
                    <input type="number" name="no" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="Nama" class="col-sm-2 col-form-label">Nama</label>
                <div class="col-sm-10">
                    <input type="text" name="nama" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="umur" class="col-sm-2 col-form-label">umur</label>
                <div class="col-sm-10">
                    <input type="number" name="umur" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="premis" class="col-sm-2 col-form-label">Premis</label>
                <div class="col-sm-10">
                    <input type="text" name="premis" class="form-control">
                </div>
            </div>
            <input type="submit" class="btn btn-secondary" value="Tambahkan" />
        </form>
    </div>
    <% } else { %>
        <p>Silakan login untuk melihat data.</p>
      <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>

</html>